/* DropdownButton.css */

.dropdown-menu {
    box-shadow: none;
    border-radius: 20px; 
    padding: 0; 
  }
  
  .dropdown-menu .dropdown-item-logo:hover {
    box-shadow: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; 
  }
  
  .custom-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; 
    color: #257895; 
  }


.custom-dropdown-menu .dropdown-item:hover {
  box-shadow: none; 
  background-color: #f8f9fa; 
}


.custom-dropdown-menu .dropdown-item:hover {
  background-color: transparent; 
  box-shadow: none; 
  color: inherit; 
}


  