@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.profile-card {
    width: 500px;
    height: 740px;
    background-color: #d9d9d9;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 0 auto;
    margin-top: 2rem;
}
.profile-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.username{
    font-size:xx-large;
}
.settings{
    cursor: pointer;
}